# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtualenv
venv/
env/
.myenv/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/

# Pytest
htmlcov/
.cache/
.pytest_cache/

# Secret files
.env

